# Auto detect text files and perform LF normalization
*                 text=auto

*.cs text diff=csharp

* linguist-vendored
*.cs linguist-vendored=false
*.shader linguist-detectable=false
*.cginc linguist-detectable=false
